body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
}

#wrap {
  margin: 30px auto;
  width: 80%;
}

#navigation {
  border-bottom: solid 1px black;
}

#home {
  float: left;
  width: 50%;
}

#menu {
  float: right;
  width: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
}

#content {
  height: 400px;
  clear: both;
  margin: 20px auto;
  font-size: 20px;
}

#profile {
  float: left;
  width: 40%;
}

.avatar {
  position: relative;
  vertical-align: middle;
  height: 350px;
  width: 350px;
  border-radius: 51%;
}

#intro {
  position: relative;
  width: 50%;
  float: right;
}

#content h1 {
  color: #23374d;
  text-align: center;
}

#content p {
  margin: 20px 20px 20px 20px;
}

#footer {
  clear: both;
  border-top: 1px solid black;
  text-align: center;
}

#footer a {
  font-size: 36px;
}