body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e4e6e7;
}

h1 {
  color: darksalmon;
}

#head {
  margin: 20px 20px 20px 20px;
}

#avatar {
  position: relative;
  float: left;
  height: 160px;
  width: 16%;
}
#decs {
  float: right;
  height: 160px;
  width: 83%;
  position: relative;
  color: #33331a;
}

#posts {
  clear: both;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  color: rgb(35, 67, 153);
}
