body {
    background: #babab1;
    color: #000;
    margin: 60px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; 
}




#preamble {
    border-bottom: 2px solid #ed8b3b;
    
}

#content {
    min-height: 60vh;
    border-bottom: 2px solid #625d85 ;
    padding-bottom: 50px;
}

#content a:link {
    color: #4687a3;
    text-decoration: none;

}

#content a:visited {
    color: #5d8571;
    text-decoration: none;
}

#content a:hover{
    color: #70603a;
    text-decoration: none;
}

nav li a {
    color: #1c1815;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover{
    color: #70603a;
    font-weight: bold;
    text-decoration: none;
}
nav li {
    display: inline;
    font-size: 30px;
}

nav li:last-child {
    float: right;
    font-size: 30px;
}


#content ul {
    font-size: 20px;
}
p {
    font-size: 20px;
}

